<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/skeleton.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/local.css' %}">
        <title>Djangoblog - {% block title %}{% endblock %}</title>
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="navbar">
            {% for navlink in navigation %}
            {% if navlink.2 %}
            <a href="{% url navlink.1 %}">{{ navlink.0 }}</a>
            {% elif navlink.3 == user.is_authenticated %}
                {% if not navlink.4 %}
                <a href="{% url navlink.1 %}">{{ navlink.0 }}</a>
                {% elif navlink.4 == perms.blog.add_blog %}
                <a href="{% url navlink.1 %}">{{ navlink.0 }}</a>
                {% endif %}
            {% endif %}
            {% endfor %}
        </div>        
        <div id="content">
            <div class="row">
                <div class="two columns" style="margin-top: 30px"></div>
                <div class="six columns" style="margin-top: 30px">
                    {% if messages %}
                        <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
                <div class="four columns" style="margin-top: 30px"></div>
            </div>
        </div>
    </body>
</html>