{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
{% if curr_blog %}
{# with latest_blogs|first as curr_blog #}
<h1>{{ curr_blog.0.blog_title }}</h1>
<div>Date: {{ curr_blog.0.pub_date }}</div>
<div>Author: {{ curr_blog.0.author }}</div>
{{ curr_blog.0.blog_text|linebreaks }}
{# endwith #}
    {# if curr_blog.get_next_by_pub_date #}
    {% if next %}
    Next: <a href="{% url 'blog:blog' next.0.id %}">{{ next.0 }}</a>
    {% endif %}
    {# if curr_blog.get_previous_by_pub_date #}
    {% if previous %}
    Previous: <a href="{% url 'blog:blog' previous.0.id %}">{{ previous.0 }}</a>
    {% endif %}
{% else %}
<div>No content yet.</div>
{% endif %}
{% endblock %}
