{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Please try again.</p>
{% endif %}

<form method="post" action="{% url 'blog:register_user' %}">
{% csrf_token %}
<table>
    {{ form }}
</table>

<input type="submit" value="Register">
</form>

{% endblock %}