{% extends "base.html" %}

{% block content %}

{% if form.errors %}
err
{% endif %}

<form method="post" action="{% url 'blog:create_blog' %}">
{% csrf_token %}
<table>
    {{ form }}
</table>

<input type="submit" value="Create">
</form>

{% endblock %}