.navbar{
    background-color: lightgray;
}

.navbar a{
    color: black;
    text-decoration: none;
    font-size: 18;
    padding: 14px 16px;
}

.navbar a:hover{
    background-color: white;
    color: slategray;
}